<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sach</title>
</head>
<body>
    <h1>Đây là trang danh sách</h1>
    <h1>ID của sản phẩm là <%=idSp%> </h1>
    <h1>Tên của sản phẩm là <%=nameSp%> </h1>
</body>
</html>